<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cards</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
<div>
    <nav class="navbar navbar-inverse navbar-fixed-top navigation-clean-button">
        <div class="container">
            <div class="navbar-header"><a class="navbar-brand navbar-link" href="#">Card Clone</a>
                <button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
            </div>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav">
                    <li class="active" role="presentation"><a href="#">Home </a></li>
                    <li role="presentation"><a href="#">Play </a></li>
                    <li role="presentation"><a href="#">Create </a></li>
                </ul>
                <p class="navbar-text navbar-right actions"><a class="navbar-link login" href="#">Log In</a> <a class="btn btn-default action-button" role="button" href="#">Sign Up</a></p>
            </div>
        </div>
    </nav>
</div>
<div class="alert alert-warning text-center" role="alert"><span><strong>Attention</strong>: Website is still under construction. Report any bugs to the <a class="alert-link" href="mailto:zwilliams@zwilliams.tech?subject=Bug Report">administrator. </a></span></div>
<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Card Clone!</h1>
        <p>For access to members only please register a free account by clicking Sign Up above. To jump straight into a game you can click the play button below. If you are interested in contributing to the community by adding a deck click the create
            button below.</p>
        <p><a class="btn btn-default" role="button" href="#" id="jumbo">Play </a><a class="btn btn-default" role="button" href="#">Create </a></p>
    </div>
</div>
<div>
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">About Our Project</h3></div>
                    <div class="panel-body"><span> This project is an open source and crowd built application for web developers to get practice with Node.JS and web development in a fun environment. This website is solely for the purpose of education and to use in development portfolios. We are not trying to rip off or steal the idea from Cards Against Humanity. If you are not a programmer feel free to join the community and create decks or cards and visit our GitHub page or use the contact button below to make suggestions or report any bugs you may find! Thank you for checking out our project, and we hope you learn and enjoy!</span></div>
                </div>
                <div class="form-group">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Contact Us</h3></div>
                        <div class="panel-body" id="contact">
                            <input type="email" placeholder="Email">
                            <input type="text" placeholder="Subject">
                            <textarea placeholder="Email content..."></textarea>
                            <button class="btn btn-default" type="submit">Contact </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Statistics </h3></div>
                    <div class="panel-body">
                        <ul class="list-group">
                            <li class="list-group-item"><i class="glyphicon glyphicon-user"></i><span> Users </span><span class="badge">42</span></li>
                            <li class="list-group-item"><i class="fa fa-clone"></i><span> Decks </span><span class="badge">42</span></li>
                            <li class="list-group-item"><span><i class="fa fa-sticky-note"></i> Black Cards</span><span class="badge">42</span></li>
                            <li class="list-group-item"><i class="fa fa-sticky-note-o"></i><span> White Cards </span><span class="badge">42</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="social-icons"><a href="http://www.twitter.com/zwilliamstech" target="_blank"><i class="icon ion-social-twitter"></i></a><a href="https://github.com/zwilliamsdev/ProjectHumanity" target="_blank"><i class="icon ion-social-github"></i></a>
    <a href="mailto:zwilliams@zwilliams.tech"><i class="icon ion-email"></i></a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>